@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Follow</h1>
    <p class="lead">My Follow is an application comprising of two interfaces, Mobile App in iOS plus Android and Website</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Explore &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start from Scratch</h2>
        <p>
            My Follow is a very useful application that helps in web as well as mobile development and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Updates</h2>
        <p>The two types of users Product Owners and End Users can post updates and browse updates as and when required!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Get More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Know more &raquo;</a></p>
    </div>
</div>